html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#gameArea {
    border: black solid 1px;
    margin: 0 auto;
    display: block;
    background: #4b8833;
}

#instructions {
    width: 600px;
    margin: 10px auto;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
